.partnerImagesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100px;
}

.partnerImagesContainer img {
  height: 35px;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.partnerImagesContainer img:last-child {
  height: 25px;
}

.partnerImagesContainer img:hover {
  opacity: 1;
}
