* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, sans-serif;
}

:root {
  --color-gray: #374151;
  --color-blueWeak: #6c2bd9;
  --color-blueStrong: #5521b5;
  --color-lightGray: #ddddde;
  --color-charcoal: #24292f;
  --color-letterWeak: #6b7280;
  --border-transparent: #1b1f2437;
  --background-trasnparent: #1b1f2415;
  --background-gray: #f9fafb;
}
