.containerStarGithub {
  display: flex;
  text-decoration: none;
  color: var(--color-charcoal);
  border: 1px solid var(--border-transparent);
  border-radius: 5px;
  overflow: hidden;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 13px);
  cursor: pointer;
}

.starGithub_containerStarIcon {
  gap: 5px;
  background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
}

.starGithub_containerStarIcon {
  border-right: 1px solid var(--border-transparent);
}

.starGithub_containerStarIcon:hover {
  background-image: linear-gradient(180deg, #f7f8f9, #e4eaef 90%);
}

.starGithub_containerStarIcon,
.starGithub_containerNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  padding: 5px 10px;
}

.starGithub_containerNumber:hover {
  color: var(--color-blueWeak);
}
