.trustedIconContainer {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: spa;
  width: 90%;
  max-width: 200px;
}

.trustedIconContainer svg {
  font-size: 40px;
  fill: var(--color-blueWeak);
}

.trustedIcon_textMain {
  font-weight: 600;
  font-size: clamp(18px, 2vw, 20px);
}

.trustedIcon_textGeneric {
  font-size: clamp(12px, 2vw, 16px);
  font-weight: 300;
  color: var(--color-letterWeak);
}
